@import "media_mixin";

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 85px;
  width: 90.5%; // 1733px
  height: 113px;
  z-index: 2;

  box-sizing: border-box;
  border-bottom: 2px solid rgb(48, 48, 48);

  &__list {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &-nav {
      display: flex;
    }

    &-logo {
      width: 62px;
      height: 88px;

      margin: 0 34px 0 0;
    }

    &-item {
      display: flex;
      text-decoration: none;
      align-items: center;

      height: 33px;

      margin: 0 34px 0 0;

      color: rgb(48, 48, 48);
      font-size: 24px;
      font-weight: 600;
      line-height: 13px;
    }

    &-menu {
      display: none;
      font-size: 30px;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;

      color: #313131;
    }
  }

  &__modal {
    color: rgb(48, 48, 48);
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &-content {
      background-color: #fff;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      text-align: center;
    }

    &-close {
      color: #313131;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@include _1700 {
  .header {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
    height: 113px;
    z-index: 2;

    &__list {


      &-nav {

      }

      &-logo {

      }

      &-item {

      }

      &-menu {

      }
    }
  }
}

@include _1570 {

}

@include _1250 {

}

@include _1170 {
  .header__list-nav {
    display: none;
  }
  .header__list-menu {
    display: block;
  }
}

@include _960 {

}

@include _768 {

}

@include _600 {

}

@include _480 {
  .header {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
    height: 113px;
    z-index: 2;

    &__list {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      margin: auto;

      &-nav {
      }

      &-logo {
        width: 30px;
        height: auto;

        margin: 0 34px 0 0;
      }

      &-item {
      }

      &-menu {
      }
    }
  }
}

@include _350 {

}
