@import "media_mixin";

.services {
  margin: 97px 181px 150px;
  color: rgb(48, 48, 48);

  &:last-child {
    margin: 0;
  }

  &__header {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;

    margin: 0 0 75px;
  }

  &__banner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 140px;

    &-item {

      &_header {
        display: flex;

        font-size: 48px;
        font-weight: 400;
        line-height: 65px;

        &-another {
          margin: 0 0 0 10px;

          font-weight: 700;
          color: rgb(126, 82, 67);
        }
      }

      &_description {
        width: 480px;
        height: 147px;

        margin: 34px 0;

        font-size: 36px;
        font-weight: 400;
        line-height: 49px;
      }

      &_button {
        width: 330px;
        height: 65px;

        cursor: pointer;
      }

      & img {
        width: 762px;
        height: 508px;
      }
    }
  }

  &__invite {

    &-header {
      font-size: 48px;
      font-weight: 400;
      line-height: 65px;
    }

    &-description {
      font-size: 24px;
      font-weight: 400;
      line-height: 33px;

      margin: 0 0 70px;
    }

    &-list {
      display: flex;
      justify-content: space-between;

      margin: 0 0 70px;

      &_item {

        &_another {
          width: 100%;
        }

        &-header {
          font-size: 24px;
          font-weight: 400;
          line-height: 33px;

          margin: 0 0 18px;
        }

        &-input {
          width: 600px;
          height: 79px;

          color: rgb(123, 123, 123);
          font-size: 24px;
          font-weight: 400;
          line-height: 33px;

          padding: 0 0 0 32px;

          box-sizing: border-box;
          border: 3px solid rgb(201, 201, 201);
          background: rgb(255, 255, 255);
        }

        &-description {
          width: 100%;
          height: 159px;

          box-sizing: border-box;
          border: 3px solid rgb(201, 201, 201);
          background: rgb(255, 255, 255);

          resize: none;

          color: rgb(123, 123, 123);
          font-family: Open Sans, serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 33px;
        }
      }
    }

    &-button {
      width: 403px;
      height: 65px;

      margin: -18px 0 34px;

      cursor: pointer;

      font-size: 24px;
      font-weight: 700;
      line-height: 33px;
    }
  }
}

@include _1700 {
  .services {
    width: 80%;
    margin: 97px auto 150px;

    &:last-child {
      margin: 0;
    }

    &__header {
      font-size: 48px;
      font-weight: 400;
      line-height: 65px;

      margin: 0 0 75px;
    }

    &__banner {
      display: flex;
      justify-content: space-between;
      margin: 0 0 140px;

      &-item {

        &_header {
          display: flex;

          font-size: 48px;
          font-weight: 400;
          line-height: 65px;

          &-another {
            margin: 0 0 0 10px;

            font-weight: 700;
          }
        }

        &_description {
          width: 480px;
          height: 147px;

          margin: 34px 0;

          font-size: 36px;
          font-weight: 400;
          line-height: 49px;
        }

        &_button {
          width: 330px;
          height: 65px;

          cursor: pointer;
        }

        & img {
          width: 450px;
          height: auto;
        }
      }
    }

    &__invite {

      &-header {
        font-size: 48px;
        font-weight: 400;
        line-height: 65px;
      }

      &-description {
        font-size: 24px;
        font-weight: 400;
        line-height: 33px;

        margin: 0 0 70px;
      }

      &-list {
        display: flex;
        justify-content: space-between;

        margin: 0 0 40px;

        &_item {

          &_another {
            width: 100%;
          }

          &-header {
            font-size: 24px;
            line-height: 33px;

            margin: 0 0 18px;
          }

          &-input {
            width: 500px;
            height: 65px;

            font-size: 24px;
            font-weight: 400;
            line-height: 33px;

            padding: 0 0 0 32px;
          }

          &-description {
            width: 100%;
            height: 159px;

            resize: none;

            font-size: 24px;
            line-height: 33px;
          }
        }
      }

      &-button {
        width: 403px;
        height: 65px;

        margin: -18px 0 34px;

        cursor: pointer;

        font-size: 24px;
        line-height: 33px;
      }
    }
  }
}

@include _1570 {

}

@include _1250 {
  .services {
    width: 80%;
    margin: 40px auto 150px;

    &:last-child {
      margin: 0;
    }

    &__header {
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;

      margin: 0 0 40px;
    }

    &__banner {
      display: flex;
      justify-content: space-between;
      margin: 0 0 70px;

      &-item {

        &_header {
          display: flex;

          font-size: 36px;
          font-weight: 400;
          line-height: 40px;

          &-another {
            margin: 0 0 0 10px;

            font-weight: 700;
          }
        }

        &_description {
          width: 60%;
          height: auto;

          margin: 34px 0;

          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }

        &_button {
          width: 250px;
          height: 55px;

          font-size: 16px;

          cursor: pointer;
        }

        & img {
          width: 450px;
          height: auto;
        }
      }
    }

    &__invite {
      &-header {
        font-size: 36px;
        font-weight: 400;
        line-height: 65px;
      }

      &-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;

        margin: 0 0 40px;
      }

      &-list {
        display: flex;
        justify-content: space-between;

        margin: 0 0 40px;

        &_item {

          &_another {
            width: 100%;
          }

          &-header {
            font-size: 20px;
            line-height: 15px;

            margin: 0 0 18px;
          }

          &-input {
            width: 350px;
            height: 60px;

            font-size: 20px;
            font-weight: 400;
            line-height: 33px;

            padding: 0 0 0 32px;
          }

          &-description {
            width: 100%;
            height: 159px;

            resize: none;

            font-size: 20px;
            line-height: 25px;
          }
        }
      }

      &-button {
        width: 300px;
        height: 55px;

        margin: -18px 0 34px;

        cursor: pointer;

        font-size: 20px;
        line-height: 25px;
      }

      &-info {
        font-size: 15px;
      }
    }
  }
}

@include _1170 {

}

@include _960 {
  .services {
    width: 80%;
    margin: 40px auto 150px;

    &:last-child {
      margin: 0;
    }

    &__header {
      display: none;

      font-size: 36px;
      font-weight: 400;
      line-height: 40px;

      margin: 0;
    }

    &__banner {
      display: flex;
      justify-content: space-between;
      margin: 0;

      &-item {
        display: none;

        &_header {
          display: flex;

          font-size: 36px;
          font-weight: 400;
          line-height: 40px;

          &-another {
            margin: 0 0 0 10px;

            font-weight: 700;
          }
        }

        &_description {
          width: 60%;
          height: auto;

          margin: 34px 0;

          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }

        &_button {
          width: 250px;
          height: 55px;

          font-size: 16px;

          cursor: pointer;
        }

        & img {
          display: none;

          width: 450px;
          height: auto;
        }
      }
    }

    &__invite {
      &-header {
        font-size: 36px;
        font-weight: 400;
        line-height: 65px;
      }

      &-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;

        margin: 0 0 40px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 0;

        &_item {
          margin: 0 0 30px;

          &_another {
            width: 100%;
          }

          &-header {
            font-size: 20px;
            line-height: 15px;

            margin: 0 0 18px;
          }

          &-input {
            width: 50%;
            height: 60px;

            font-size: 20px;
            font-weight: 400;
            line-height: 33px;

            padding: 0 0 0 32px;
          }

          &-description {
            width: 100%;
            height: 159px;

            resize: none;

            font-size: 20px;
            line-height: 25px;
          }
        }
      }

      &-button {
        width: 300px;
        height: 55px;

        margin: 20px 0;

        cursor: pointer;

        font-size: 20px;
        line-height: 25px;
      }

      &-info {
        font-size: 15px;
      }
    }
  }
}

@include _768 {

}

@include _600 {

}

@include _480 {
  .services {
    width: 80%;
    margin: 40px auto 150px;

    &:last-child {
      margin: 0;
    }

    &__header {
      display: none;

      font-size: 36px;
      font-weight: 400;
      line-height: 40px;

      margin: 0;
    }

    &__banner {
      display: flex;
      justify-content: space-between;
      margin: 0;

      &-item {
        display: none;

        &_header {
          display: flex;

          font-size: 36px;
          font-weight: 400;
          line-height: 40px;

          &-another {
            margin: 0 0 0 10px;

            font-weight: 700;
          }
        }

        &_description {
          width: 60%;
          height: auto;

          margin: 34px 0;

          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }

        &_button {
          width: 250px;
          height: 55px;

          font-size: 16px;

          cursor: pointer;
        }

        & img {
          display: none;

          width: 450px;
          height: auto;
        }
      }
    }

    &__invite {
      &-header {
        font-size: 36px;
        font-weight: 400;
        line-height: 65px;
      }

      &-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;

        margin: 0 0 40px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 0;

        &_item {
          margin: 0 0 30px;

          &_another {
            width: 100%;
          }

          &-header {
            font-size: 20px;
            line-height: 15px;

            margin: 0 0 18px;
          }

          &-input {
            width: 80%;
            height: 60px;

            font-size: 20px;
            font-weight: 400;
            line-height: 33px;

            padding: 0 0 0 32px;
          }

          &-description {
            width: 100%;
            height: 159px;

            resize: none;

            font-size: 20px;
            line-height: 25px;
          }
        }
      }

      &-button {
        width: 70%;
        height: 55px;

        margin: 20px 0;

        cursor: pointer;

        font-size: 20px;
        line-height: 25px;
      }

      &-info {
        font-size: 15px;
      }
    }
  }
}

@include _350 {
  .services {
    width: 80%;
    margin: 40px auto 150px;

    &:last-child {
      margin: 0;
    }

    &__header {
      display: none;

      font-size: 36px;
      font-weight: 400;
      line-height: 40px;

      margin: 0;
    }

    &__banner {
      display: flex;
      justify-content: space-between;
      margin: 0;

      &-item {
        display: none;

        &_header {
          display: flex;

          font-size: 36px;
          font-weight: 400;
          line-height: 40px;

          &-another {
            margin: 0 0 0 10px;

            font-weight: 700;
          }
        }

        &_description {
          width: 60%;
          height: auto;

          margin: 34px 0;

          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
        }

        &_button {
          width: 250px;
          height: 55px;

          font-size: 16px;

          cursor: pointer;
        }

        & img {
          display: none;

          width: 450px;
          height: auto;
        }
      }
    }

    &__invite {
      &-header {
        font-size: 36px;
        font-weight: 400;
        line-height: 35px;
      }

      &-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;

        margin: 15px 0 40px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 0;

        &_item {
          margin: 0 0 30px;

          &_another {
            width: 100%;
          }

          &-header {
            font-size: 20px;
            line-height: 15px;

            margin: 0 0 18px;
          }

          &-input {
            width: 80%;
            height: 60px;

            font-size: 20px;
            font-weight: 400;
            line-height: 33px;

            padding: 0 0 0 32px;
          }

          &-description {
            width: 100%;
            height: 159px;

            resize: none;

            font-size: 20px;
            line-height: 25px;
          }
        }
      }

      &-button {
        width: 80%;
        height: 55px;

        margin: 20px 0;

        cursor: pointer;

        font-size: 20px;
        line-height: 25px;
      }

      &-info {
        font-size: 15px;
      }
    }
  }
}
